nav, .pageWrapper{
	margin: 0 7%;
}
a.loginBtn, a.loginBtn:hover {
    color: #fff;
    text-decoration: none;
}
a.leftArrow img, a.rightArrow img{
	width:10%;
}
a.leftArrow, a.rightArrow {
	position: absolute;
	top: 44%;
}
a.leftArrow{left: 0;}
a.rightArrow{right: 0;    text-align: right;}
.topNavLogo{
	position: absolute;
    top: 18%;
    left: 46%;
}
a{
	text-decoration: none;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-header{
	min-width: 20%;
}
nav ul li{
	width: 125px;
	height: 63px;
}
nav div ul{
	float: right !important;
	margin-right: -15px !important;
}
nav div ul li.active a{
	height: 100%;
}
.navbar:after{
	clear: both;
}
.navbar-brand{
	padding: 0;
}
.banner{
	position: relative;
	clear: both;
	max-height: 900px;
	overflow: hidden;
}
a.signUp{
	text-decoration: none;
	padding: 7%;
	color: #fff;
}
a.signUp:hover{
	text-decoration: none;
	background-color: blueviolet;
	
}
.slick-slide img {
    height: 400px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{				color: #fff;
    background-color: rgba(41, 28, 152, 0.38);
    font-weight: bold;
	border-bottom: 3px solid;
}
.showNav{
	display: inline-block !important;
    float: right;
    background: white;
}
nav ul li.active:after{
	padding: 0;
}
nav ul li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0.0001);  
  transition: transform 250ms ease-in-out;
  padding: 5px;
}
nav ul li:hover:after { transform: scaleX(1); }
nav ul li.right{
	border-right: 1px solid #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover .right{
	border-right: 1px solid trasparent;
}
.row{
	margin: 0;
}
.threeCol,.threeCol .col-md-4{
	height: 200px !important;
	border: 0.1px solid #fff;
}
.leftCol{
	background-color: #0085cb;
}
.middleCol{
	background-color: #037399;
}
.rightCol{
	background-color: #002945;
}
.clr{
	clear: both;
}
.close{
	display: none !important;
}
.pageWrapper{
	min-height: 100%;
}
.slick-slider{
	margin-bottom: 0!important;
}
.mainContent{
	margin: 2% 5%;
}
.mainContent .row div.col-md-3{
	padding: 0;
	margin-right: 4%;
}
.txtImg h3{
	   text-align: center;
    color: #e0231a;
    font-weight: bolder;
}
.txtImg{
	background-color: #e1e1e1;
    min-height: 400px;
}
.divider{
	background: url(Rectangle-3.png);
	background-repeat: no-repeat;
	height: 296px;
	margin: 7% 0;
	background-position-x: -10px;
}
.col-lg-6.loginLeft {
    border-right: 1px solid brown;
}
.jumbContainer .container{
	width: 100%;
	margin-bottom: 10%;
}
.container .jumbotron{
	min-height: 350px;
}

.jumbContainer .container .row .col-md-5{
	text-align: right;
}
.jumbContainer .container .row .col-md-5 img{
	padding: 5%;
	background-color: #fff;
}
.col-lg-6 h3 {
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 1px solid;
    padding-bottom: 11px;
}
.hideLogin{
	display: block;
    position: absolute;
    top: 7%;
    left: 50px;
    background-color: #fff;
    width: 60%;
    padding: 2%;
    margin: 1%;
    padding-left: 6%;
}
.hideLogin:before {
	border-color: rgba(113, 158, 206, 0);
	border-bottom-color: #719ECE;
	border-width: 20px;
	left: 5%;
	margin-left: -20px;
}
.cntLeft{
	margin: 2% 2%;
	height: 300px;;
}

.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    min-width: 22%;
}
.form .form-group {
    display: block;
    margin-bottom: 5px;
    vertical-align: middle;
}
.form-group button.btn.btn-success {
    margin-left: 24%;
    width: 100px;
}
.txtImg figure{
	text-align: center;
}
/**************Media Queries**************/
/*Mobile both portrait & landspace*/


@media only screen and (min-width : 320px) {
	.divider{
		display: none;
	}
	.showMobile{
		display: block !important;
	}
	.collapse {
		display: none;
	}
	.navbar-toggle {
		display: block;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.divider{
		display: none;
	}
	.showMobile{
		display: block !important;
	}
	.collapse {
		display: none;
	}
	.navbar-toggle {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.loginBtn{
		display: none;
	}
	.showMobile{
		display: block !important;
	}

	.col-md-5,.col-lg-5,col-sm-5{
		width: 41.66666667%;
	}
	.col-md-1,.col-lg-1,col-sm-1 {
		width: 8.33333333%;
	}
	.navbar-header {
		min-width: 10%;
	}
	.navbar-toggle {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.loginBtn{
		display: block;
	}
	 .showMobile{
		display: none !important;
	}
	.row div{
		float: left;
	}
	.col-md-5,.col-lg-5,col-sm-5{
		width: 41.66666667%;
	}
	.col-md-1,.col-lg-1,col-sm-1 {
		width: 8.33333333%;
	}
	.navbar-toggle {
		display: none;
	}
	.showNav{
		float: none;
		background: transparent;
	}
		.navbar-header {
		min-width: 20%;
	}
	.divider {
    display: block;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.divider {
    display: block;
}
		.navbar-header {
		min-width: 20%;
	}
	.loginBtn{
		display: block;
	}
	.showMobile{
		display: none !important;
	}
	.navbar-toggle {
		display: none;
	}
	.showNav{
		float: none;
		background: transparent;
	}
}